@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Code Pro', monospace;
	background-color: #010409;
	color: #dce8f3;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #dce8f3;
}
